<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>for</title>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3.5.32/dist/vue.esm-browser.js"
          }
        }
    </script>
</head>
<body>
<div id="app">
    <div>
        list: {{ list }}<br/>
        <button @click="list.pop()">pop</button>
        <button @click="list.push({id: 4, name: 'tq'})">push</button>
        <div :key="id" v-for="({id, name}, i) of list"> {{ i }} -- {{ id }} -- {{ name }}</div>
    </div>
    <hr/>

    <div>
        list: {{ list }}<br/>
        <button @click="list.pop()">pop</button>
        <button @click="list.push({id: 4, name: 'tq'})">push</button>
        <template :key="id" v-for="({id, name}, i) of list">
            <div>{{ i }} -- {{ id }} -- {{ name }}</div>
        </template>
    </div>
    <hr/>

    <div>
        obj: {{ obj }}<br/>
        <button @click="Object.defineProperty(obj, 'gender', {value: 'man', enumerable: true}); console.log(obj.gender)">
            add property
        </button>
        <!-- 等价于调用 Object.values() -->
        <div v-for="(v, k, i) in obj">{{ i }} -- {{ k }} -- {{ v }}</div>
    </div>
    <hr/>

    <div>
        count: {{ count }}<br/>
        set count: <input @change="(el) => count = Number(el.target.value)" type="number"/>
        <div :key="v" v-for="v in count">{{ v }}</div>
    </div>
</div>
<script type="module">
    import {createApp, ref} from 'vue'

    createApp({
        setup() {
            const list = ref([{id: 1, name: 'zs'}, {id: 2, name: 'ls'}, {id: 3, name: 'ww'}])
            const obj = ref({id: 4, name: 'zl', age: 18})
            const count = ref(3)
            return {list, obj, count}
        }
    }).mount('#app')
</script>
</body>
</html>
