<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>if</title>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3.5.32/dist/vue.esm-browser.js"
          }
        }
    </script>
</head>
<body>
<div id="app">
    <div>
        status1: {{ status1 }}<br/>
        status2: {{ status2 }}<br/>
        <button @click="status1 = !status1">toggle status1</button>
        <button @click="status2 = !status2">toggle status2</button>
        <br/>
        <span v-if="status1">status1 showed</span>
        <span v-else-if="status2">status2 showed</span>
        <span v-else>no status showed</span>
    </div>
    <hr/>

    <div>
        templateIfStatus: {{ templateIfStatus }}<br/>
        <button @click="templateIfStatus = !templateIfStatus">toggle templateIfStatus</button>
        <br/>
        <template v-if="templateIfStatus">
            <span>templateIfStatus showed</span>
        </template>
    </div>
    <hr/>

    <div>
        showStatus: {{ showStatus }}<br/>
        <button @click="showStatus = !showStatus">toggle showStatus</button>
        <button @click="printShowSpanStyle">print display value</button>
        <br/>
        <span id="showSpan" v-show="showStatus">showStatus showed</span>
    </div>
</div>
<script type="module">
    import {createApp, ref} from 'vue'

    createApp({
        setup() {
            const status1 = ref(true)
            const status2 = ref(true)
            const templateIfStatus = ref(true)
            const showStatus = ref(true)
            const printShowSpanStyle = () => console.log(window.document.getElementById('showSpan').style.display)

            return {status1, status2, templateIfStatus, showStatus, printShowSpanStyle}
        }
    }).mount('#app')
</script>
</body>
</html>
