<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>lifecycle</title>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3.5.32/dist/vue.esm-browser.js"
          }
        }
    </script>
</head>
<body>
<div id="app">
    <div>
        <button @click="show = !show">toggle show</button>
        <br/>
        set message: <input @change.self="message = $event.target.value"/>
        <component-a v-if="show" :message="message"></component-a>
    </div>
    <hr/>

    <div>
        <button @click="show2 = !show2">toggle show2</button>
        <br/>
        <keep-alive>
            <component-a v-if="show2" message="hello"></component-a>
        </keep-alive>
    </div>
</div>
<script type="module">
    import {createApp, ref} from 'vue'

    const componentA = {
        data() {
            return {value: 'ok'}
        },
        computed: {
            valueComputed() {
                return this.value
            }
        },
        methods: {
            m() {
            }
        },
        watch: {
            value: () => {
            }
        },
        props: ['message'],
        template: `<div>{{ message }}</div>`,
        beforeCreate() {
            console.log(`beforeCreate, message: ${this.message}`)
        },
        created() {
            console.log(`created, value: ${this.value}, valueComputed: ${this.valueComputed}, m: ${typeof this.m}, watchValue: ${typeof this.$watch}`)
        },
        beforeMount() {
            console.log('beforeMount')
        },
        async serverPrefetch() {
            await new Promise(() => {
            })
        },
        mounted() {
            console.log('mounted')
        },
        beforeUpdate() {
            console.log('beforeUpdate')
        },
        updated() {
            console.log('updated')
        },
        beforeUnmount() {
            console.log('beforeUnmount')
        },
        unmounted() {
            console.log('unmounted')
        },
        activated() {
            console.log('activated')
        },
        deactivated() {
            console.log('deactivated')
        }
    }
    createApp({
        setup() {
            const show = ref(false)
            const show2 = ref(false)
            const message = ref('')
            return {show, show2, message}
        },
        components: {componentA}
    }).mount('#app')
</script>
</body>
</html>
